MODERATOR_MODEL=StupidModel-6b
MODERATOR_URL=http://127.0.0.1:8081/v1
MODERATOR_TEMPERATURE=0.2

AGENT1_MODEL=Qwen3-8B
AGENT1_URL=http://127.0.0.1:8080/v1
AGENT1_TEMPERATURE=0.5

AGENT2_MODEL=gemma4Coding-12B
AGENT2_URL=http://127.0.0.1:8082/v1
AGENT2_TEMPERATURE=0.5

ROUNDS_PER_SEGMENT=10
MAX_TOKENS=2048
